@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

.font-gudea-bold {
    font-family: "Gudea", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.font-gudea {
    font-family: "Gudea", sans-serif;
    font-weight: 400;
    font-style: normal;
}